

.ifrozet{
  font-size: 40px;
  color: blue;
}
.Sarl {
  font-size: 40px;
  color: #f1f5f9;
}

.login {
  font-size: 30px;
}

.contacts {
  color: #cccccc;
}

.contacts:hover {
  color: blue;
  cursor: pointer;
  text-decoration: none;
}

.login a:hover {
  color: blue;
  cursor: pointer;
  text-decoration: none;
}

@media only screen and (max-width: 400px) {
  nav img {
     display: none;
}
}

